.table2 {
    border-collapse: collapse;
    width: 100%;
}

.table2 th, .table2 td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}

.small-column2 {
    width: 50px; /* Ancho reducido para columnas pequeñas */
}

.wide-column2 {
    width: 100px; /* Ancho ampliado para columnas anchas */
}

.input2 {
    width: 95%; /* Ancho de los inputs */
    padding: 2px;
    font-size: 12px;
}

.button2 {
    margin-top: 10px;
    padding: 5px 10px;
}