<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/custom.css}" />

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CapSteam</title>
</head>
<body>

    <div class="container">
        <h1>
            Nuevo juego
        </h1>
        <div align="center">

            <form method="post" th:object="${game}" th:action="@{/save}">
                <table>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><label for="name">Nombre:</label></td>
                                    <td><input type="text" th:field="*{name}" required /></td>
                                </tr>
                                <tr>
                                    <td><label for="platform">Plataforma:</label></td>
                                    <td><input type="text" th:field="*{platform}" required /></td>
                                </tr>
                                <tr>
                                    <td><label for="year">Año:</label></td>
                                    <td><input type="number" th:field="*{year}" required /></td>
                                </tr>
                                <tr>
                                    <td><label for="genre">Género:</label></td>
                                    <td><input type="text" th:field="*{genre}" required /></td>
                                </tr>
                                <tr>
                                    <td><label for="publisher">Editor:</label></td>
                                    <td><input type="text" th:field="*{publisher}" required /></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td><label for="na_sales">Ventas NA:</label></td>
                                    <td><input type="text" th:field="*{naSales}" /></td>
                                </tr>
                                <tr>
                                    <td><label for="eu_sales">Ventas EU:</label></td>
                                    <td><input type="text" th:field="*{euSales}" /></td>
                                </tr>
                                <tr>
                                    <td><label for="jp_sales">Ventas JP:</label></td>
                                    <td><input type="text" th:field="*{jpSales}" /></td>
                                </tr>
                                <tr>
                                    <td><label for="other_sales">Otras ventas:</label></td>
                                    <td><input type="text" th:field="*{otherSales}" /></td>
                                </tr>
                                <tr>
                                    <td><label for="global_sales">Ventas globales:</label></td>
                                    <td><input type="text" th:field="*{globalSales}" requireds/></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" value="Guardar"></td>
                    </tr>
                </table>
            </form>

        </div>
    </div>
</body>
</html>
